* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(100, 100, 100);
    background-image:
    linear-gradient(90deg, rgb(226,29,60) 40%, rgba(0, 0, 0, .5) 40%, transparent 45%), 
    url("../images/waves-cropped.svg"), 
    linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%), url("../images/pexels-cesar-galeao-3289711-gray.jpg");
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat, 
        no-repeat;
    background-size: 
        100% 100%,
        40% auto,
        100% 100%, 
        60% auto;
    background-position: 
        50% 50%,
        100% 100%,
        50% 50%,
        100% 25%;
}

.main-content {
    width: 40%;
}

.countdown {
    width: 60%;
}

.logo {
    width: 275px;
    margin-top: 15px;
    margin-left: 15px;
}
.main-offer {
    display: flex;
    margin: 75px 15px 75px 75px;
}

.main-heading {
    margin: 0;
    font-size: 1.8em;
    font-style: italic;
    font-weight: normal;
    color: white;
    letter-spacing: .14em;
}
.main-heading>strong {
    text-transform: uppercase;
}
.main-offer-price {
    font-size: 7em;
    display: block;
    margin-top: 18px;
}

.join {
    background-color: black;
    color: white;
    border-radius: 10000px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 140px;
    margin: 40px 0 100px;
    display: inline-block;
    font-size: 1.4em;
}
.join:hover {
    background-color: rgb(50, 50, 50);
}

.footer-paragraph {
    margin: 0 15px;
}

.countdown-heading {
    margin: 150px 0 0 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.8em;
    letter-spacing: .14em;
}

.countdown-paragraph {
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .14em;
    font-size: 5em;
}