* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(100, 100, 100);
    background-image:
    linear-gradient(101.31deg, rgb(226,29,60) 50%, rgba(0, 0, 0, .5) 50%, transparent 55%), 
    url("../images/waves-cropped.svg"), 
    linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%), url("../images/pexels-cesar-galeao-3289711-gray.jpg");
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat, 
        no-repeat;
    
    background-attachment: 
        fixed,
        fixed,
        fixed,
        fixed;

    background-size: 
        100% 100%,
        40% auto,
        100% 100%, 
        calc(50% + 20vh) auto;
    background-position: 
        -10vh 50%,
        100% 100%,
        50% 50%,
        100% 25%;
}

.main-content {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown {
    flex: 0 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 275px;
    margin-top: 15px;
    margin-left: 15px;
    justify-content: flex-start;
}

.main-offer {
    display: flex;
    margin: 0;
    min-height: 80vh;
}

.main-heading {
    margin: 0 50px 0 50px;
    font-size: 1.8em;
    font-style: italic;
    font-weight: normal;
    color: white;
    letter-spacing: .14em;
}

.main-heading>strong {
    text-transform: uppercase;
}

.main-offer-price {
    font-size: 7em;
    display: block;
    margin-top: 18px;
}

.join {
    background-color: black;
    color: white;
    border-radius: 10000px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 140px;
    margin: 40px 0 0;
    display: inline-block;
    font-size: 1.4em;
}

.join:hover {
    background-color: rgb(50, 50, 50);
}

.footer-paragraph {
    justify-content: flex-end;
    margin: 15px 15px 60px;
}

.countdown-heading {
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.8em;
    letter-spacing: .14em;
}

.countdown-paragraph {
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .14em;
    font-size: 5em;
}